.form-login-registaration {
}
.inp-form {
}
.login-social-media {
  margin-bottom: 1.5rem;
  & span {
  }
}
.lr-form {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  // max-width: 80%;
  border-radius: 0.4rem;
  background-color: var(--background-form-white);

  overflow-y: hidden;
  padding: 2rem 3rem;
  margin-top: 2rem;

  &__social-media {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  &__inp-form {
    & div {
      &:not(:last-child) {
        margin-bottom: 1.1rem;
      }
    }
    & a {
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--nik-name-red);
      }
    }
  }
}
