.custom-control-description {
  &:hover {
    color: var(--btn-send-com);
  }
}
.custom-control-indicator {
  margin-right: 0.5rem;
}
.custom-control-input {
}
.form-control {
  border: 0.2px solid #111;
  border-radius: 0.2rem;
}
.form-control-lg {
}
.form-group {
  display: flex;
  flex-direction: column;
  //   margin-bottom: 1.3rem;

  &__pwd {
  }
  & label {
    margin-bottom: 0.3rem;
  }
}
.form-login-header {
  max-width: 16rem;

  margin-bottom: 1.3rem;

  & label.form-group__login,
  label.form-group__pwd {
    display: flex;
    align-items: flex-start;
    & span {
      width: 4px;
      height: 4px;
      margin-left: 0.3rem;
    }
  }
  & input {
    padding: 0.3rem 0.4rem;
  }
  & a {
    transition: color 0.3s ease-in-out;

    &:hover {
      color: red;
    }
  }
  & div {
    &:not(:last-child) {
      margin-bottom: 1.3rem;
    }
  }
}
.form {
  &__btn-block {
    display: flex;
    justify-content: center;
  }
  &__btn {
  }
  &__input {
  }
  &__login {
    text-align: start;
  }
  &__pass {
    position: relative;
    top: 0;
    left: 0;
    & input {
    }
  }
  &__pass-request {
  }
  &__regisration-account {
  }
  &__regisration-account-block {
  }
  &__registration-link {
  }
  &__eye {
    position: absolute;
    right: 0.5em;
    top: 1.7em;
    cursor: pointer;
  }
}
.btn-lg {
  padding: 0.8rem 2rem;
}

#custom-checkbox-login {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  line-height: 0;
  &:hover {
    svg {
      transform: none;
    }
  }
}

// checkbox ------------------------------------
input[type='checkbox'] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox {
  display: inline-block; // set to `inline-block` as `inline elements ignore `height` and `width`
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  border-radius: 0.3rem;
}

// check, times -------------------------------
.check {
  color: var(--main-color);
}
.times {
  color: var(--nik-name-red);
}

// instructions -------------------------------
.instructions {
  & span {
    &:first-child {
      color: var(--nik-name-red);
      margin-right: 0.3rem;
    }
  }
}
