.contacts {
  background-color: #fff;

  padding: 2rem 0;
}
.contact {
  &__my-contact-link {
    & div:not(:last-child) {
      margin-bottom: 0.7rem;
    }
  }
  &__my-contact-block {
    display: flex;
    & b {
      margin-right: 0.7rem;
    }
    &:not(:last-child) {
      margin-bottom: 0.7rem;
    }
  }
}

.my-contact {
  display: flex;
  align-items: center;

  & b {
    margin-right: 0.3rem;
  }
  & div {
    margin-right: 0.3rem;
  }
  &__link {
    display: flex;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: red;
    }
  }
}
