.header {
  font-size: 1.1rem;
  max-width: var(--max-width);
  width: 100%;

  // position: absolute;
  // top: 0;
  // right: 50%;
  // transform: translateX(50%);

  background-color: var(--background-header-color);
  margin: 0 auto;
  padding: 1.5rem 1rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }
  &__logo {
    font-size: 2.5rem;
    font-family: 'SuperThing NBP', sans-serif;
    border-radius: 0.1em;
    padding: 0.13em;
    background-color: black;
    color: white;
    width: 4rem;
    height: 3.5rem;
    /* margin-right: calc(1vw + 0.1em); */
    margin-right: clamp(7px, 1vw, 20px);
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    text-align: center;
    &:not(:last-child) {
      margin-right: calc(1vw + 0.1em);
    }
    & a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #f9f9f9;
      bottom: 0;
      left: 0;

      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
    & a:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
  &__link {
    position: relative;

    padding: clamp(7px, 1vw, 10px);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #f9f9f9;
    }
    & active {
      color: var(--color-active-link);
    }
  }

  &__btn {
    padding: 0.4rem;
  }
}
a.active {
  color: var(--color-active-link);
}
.login-btn {
  & a {
    padding-left: 1.8rem;
  }
  & span {
    position: absolute;
    left: -2px;
  }
}

.search {
  &__form {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    right: 0;
  }
  &__search-inp {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: -22.3rem;
  }
  &__inp {
    background-color: #f6f6f6;
    border: #000000 1px solid;
    border-radius: 0.5rem;
    font-size: 16px;
    width: 350px;
    padding: 0.37em 0.5em;
    margin-right: 0.4rem;
  }
}

#navbar-login {
  line-height: 26px;
}

@media (max-width: 500px) {
  .menu__list {
    justify-content: center;
  }

  .menu__item {
    margin-bottom: calc(1vw + 0.3rem);
  }
}
