.nav-mobile {
  //   display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-mobile__menu-items {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
  //   left: 0;
  right: 10%;
  top: 7.4rem;
  background-color: var(--background-form-color);
  padding: 2rem;
  border-radius: 0.5rem;
  & li {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}
.hamburger-react {
  &:hover {
    color: var(--color-active-link);
  }
}
