.ls-media {
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  &__link {
    display: inline-flex;
    align-items: center;
    border-radius: 0.4rem;
    opacity: 0.8;
    padding: 0.4rem;
    transition: all 0.3s ease-in-out;

    &:not(:last-child) {
      margin-right: 1rem;
    }
    & span {
      &:first-child {
        background-color: #fff;
        border-radius: 0.4rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
      padding: 0.4rem;
      // margin-right: 0.6rem;
    }
    &:hover {
      opacity: 1;

      & span:first-child {
        color: #bf00ff;
      }
    }
  }
  &__links {
  }
  &__text {
  }
  &__title {
    font-weight: 600;
    margin-bottom: 1rem;
  }
  &__top {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.vk-link {
  background-color: var(--background-vk-link-blue);
}
.google-link {
  background-color: var(--background-google-link-grey);
}
.mail-link {
  background-color: var(--background-mail-link-wblue);
}

@media (max-width: 345px) {
  .mail-link {
    margin-top: 1rem;
  }
}
