.anime {
  &__list-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    justify-content: space-between;
    justify-items: center;
  }
  &__item {
  }
}
.img {
}
.item-anime {
  width: 100%;
  height: 100%;

  &__bottom-desc {
    width: 100%;
    min-height: 5.1rem;
    border-right: 1px solid rgba(1, 1, 1, 0.1);
    border-left: 1px solid rgba(1, 1, 1, 0.1);
    padding: 0 0.7rem;
  }
  &__link-full-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  &__image {
    margin-bottom: 1rem;
  }
  &__img-wrap {
    margin-bottom: 1rem;
    &:not(:last-child) {
    }
  }
  &__lkjh {
  }
  &__rating {
  }
  &__title {
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
  &__num {
    font-size: 1.3rem;
  }
  &__star {
    font-size: 1.3rem;
    color: #ffbb00;
    margin-right: 0.2rem;
  }
  &__votes {
  }
}
